body {
    font-family: 'nunito sans', sans-serif;
}

.alert-container {}


.callout-container {
    height: 100vh; 
    
    background: url(../media/whiskey-splash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(0, 0, 0,0.5);
}


.quotes-container {}


.features-container {}

/* Jumbotron-header */

.lead {
    color: #e9ecef;
}

.jumbotron {
    background-color: transparent;
}

small {
    font-size: 60%;
    font-style: italic;
    color: rgb(233, 237, 238);
}


.jumbotron-header {
    color: white;
    font-weight: bold;
    bottom: 30px;
}

.btn-cta {
    font-weight: bold;
    
    border-radius: 23px;
    width: 165px;

}

.btn--brown {
    background-color: #771b0f;
}

.btn--brown:hover,
.btn--brown:active,
.btn--brown:focus,
.btn--brown:active:focus {
    background-color: #cf3b1a;
    background-color: #cf3b1a;
    border-color: #df4929;
    color: white;
        width: 165px;


/*Block Dividers*/
.block-divider {
    width: 75%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #771b0f;
}